* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
}

header {
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 10;
}

#Home {
    color: coral;
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-right: auto;
    padding: 0px 30px;
}

#navbar li {
    display: inline-block;
    padding: 14px;
}

#navbar li a {
    color: white;
    font-weight: bolder;
    font-size: 17px;
    text-transform: uppercase;
    transition: all 0.3s ease-in 0s;
}

#navbar li a:hover {
    color: coral;
}

button {
    color: black;
    background-color: coral;
    padding: 5px 5px;
    border-radius: 40px;
    margin: 0px 5px 0px 0px;
    transition: all 0.3s ease-in 0s;
}

button:hover {
    background-color: rgba(255, 127, 80, 0.75);
    cursor: pointer;
}

#search {
    color: black;
}

main {
    height: 100%;
    width: 100%;
    margin: 63px 0px 0px 0px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#loader {
    height: 15px;
    width: 15px;
    border: 5px solid black;
    border-top: 5px solid coral;
    border-bottom: 5px solid white;
    border-radius: 50%;
    display: inline-block;
    z-index: 2;
    animation: circle .9s ease 0s infinite normal;
}

@keyframes circle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}
.searchC{
    
    display: flex;
    background-color: rgba(0, 0, 0, 0.936);
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    height: fit-content;
    min-height: 85vh;
    width: 100vw;
    display:none;
}
.details{
    width: 40vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 5vh 0;

}
.detail-item{
    display: flex;
    width: 35vw;
}
.details h4,p{
    color: white;
    font-size: 1.6vw;
    font-family: 'Courier New', Courier, monospace;
}
.poster img{
    width: 40vw;
    height: auto;
}
.trailer{
    margin: 5vh 15vw;
    width: 70vw;
    height: 70vh;
}
.trailer iframe{
    width: 70vw;
    height: 70vh;
}

#container1 {
    max-height: 100vh;
    overflow: scroll;
    width: 90%;
    color: white;
    background-color: rgba(0, 0, 0, 0.936);
    margin-right: 3px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 1vh;
}

.box {
    height: 282px;
    width: 175px;
    border-radius: 1.5px;
    color: white;
    background-color: black;
    padding: 1px;
    margin: 20px 18px;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;

}
.box img{
    height: 270px;
    width: 170px;
}
.box img:hover {
    color: coral;
    border-top: 6px solid coral;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    cursor: pointer;
}

#container1 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    margin: 5px 0PX;
}

.common {
    height: 100%;
    width: 100%;
    background-size: cover;
}
.common:hover {
    border-radius: 25px;
}

#container2 {
    max-height: 100vh;
    overflow: scroll;
    width: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.936);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


#container2 li {
    padding: 13px;
    margin: 6px 15px;
    /* list-style: square; */
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease 0s;
}

#container2 #head {
    list-style: none;
    font-size: 20px;
    margin: 2px 30px ;
    color: coral;
    font-weight: bolder;
    border: 2px solid transparent;
}

#container2 #head:hover {
    border: 3px solid coral;
}


#container2 li:hover {
    color: coral;
    cursor: pointer;
}

#container2 .year li {
    list-style: none;
    display: inline-block;
    margin: 12px;
    padding: 7px;
}

/* RESPONSIVENESS .................................................................................................*/


@media (max-width: 312px) {

    header {
        height: 120px;
    }

    main {
        margin: 125px 3px 3px;
    }

    header #Home {
        font-size: 20px;
        padding: 10px;
    }

    header #loader {
        height: 10px;
        width: 10px;
    }

    #navbar {
        margin-right: 10px;
    }

    #navbar li {


        display: block;
        padding: 4px;

    }

    #navbar li a {
        font-size: 10px;
    }


    header #search {
        margin-left: 2px;
        display: none;
    }


    #container1 {
        height: 100%;
        width: 75%;
    }


    #container1 p {
        font-size: 8px;
    }

    .box {

        height: 240px;
        width: 155px
    }

    .box:hover {
        border-radius: 12px;
    }

    .common:hover {
        border-radius: 12px;
    }

    #container2 {
        width: 25%
    }

    #container2 li {
        margin: 1px 2px;
        padding: 6px;
        font-size: 7px;
    }

    #container2 #head {
        font-size: 8px;
        margin: 1px 0px 1px 15px;
        padding: 0px;

    }

}


@media (min-width:313px) and (max-width:367px) {

    header {
        height: 60px;
    }

    main {
        margin: 62px 3px 3px;
    }

    header #Home {
        font-size: 14px;
        padding: 3px;
    }

    header #loader {
        height: 5px;
        width: 5px;
    }

    #navbar {
        margin-right: 4px;
    }

    #navbar li {
        display: inline-block;
        padding: 2px;

    }

    #navbar li a {
        font-size: 8px;
    }

    header #search {
        display: none;
    }


    #container1 {
        height: 100%;
        width: 80%
    }

    #container1 p {
        font-size: 6px;
    }


    .box {
        height: 124px;
        width: 72px
    }

    .box:hover {
        color: coral;
        border-top: 4px solid coral;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        cursor: pointer;
    }

    #container2 {
        width: 20%
    }

    #container2 li {
        margin: 5px 0px;
        padding: 8px;
        font-size: 6px;
    }

    #container2 #head {
        font-size: 8px;
        margin: 2px 10px 2px 12px;
        padding: 0px;

    }

}

@media (min-width:367px) and (max-width:407px) {

    header #Home {
        font-size: 17px;
        padding: 4px;
    }

    header #loader {
        height: 6px;
        width: 6px;
    }

    #navbar {
        margin-right: 4px;
    }

    #navbar li {

        padding: 4px;

    }

    #navbar li a {
        font-size: 9px;
    }


    header #search {
        display: none;
    }

    #container1 {
        height: 100%;
        width: 80%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    #container1 p {
        font-size: 8px;
    }

    .box {

        height: 157px;
        width: 94px
    }

    .box:hover {
        border-radius: 12px;
    }

    .common:hover {
        border-radius: 12px;
    }

    #container2 {
        width: 20%
    }

    #container2 li {
        margin: 6px 1px;
        padding: 10px;
        font-size: 9px;
    }

    #container2 #head {
        font-size: 13px;
        margin: 1px 10px;
        padding: 0px;

    }

}


@media (min-width: 407px) and (max-width: 810px) {
    header #Home {
        font-size: 20px;
        padding: 10px;
    }

    header #loader {
        height: 8px;
        width: 8px;
    }

    #navbar {
        margin-right: 4px;
    }

    #navbar li {

        padding: 3px;

    }

    #navbar li a {
        font-size: 10px;
    }

    header #search {
        display: none;
    }


    #container1 {
        height: 100%;
        width: 80%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    #container1 p {
        font-size: 8px;

    }

    .box {

        height: 180px;
        width: 110px
    }

    .box:hover {
        border-radius: 12px;
    }

    .common:hover {
        border-radius: 12px;
    }

    #container2 {
        width: 20%
    }

    #container2 li {
        margin: 6px 1px;
        padding: 10px;
        font-size: 9px;
    }

    #container2 #head {
        font-size: 13px;
        margin: 1px 10px;
        padding: 0px;

    }

}

@media (min-width:650px) {

    header #search {
        margin-left: 2px;
        display: inline-block;
    }
}


@media (min-width: 810px) and (max-width:1219px) {
    header #Home {
        font-size: 24px;
        padding: 14px;
    }

    header #loader {
        height: 12px;
        width: 12px;
    }

    #navbar {
        margin-right: 4px;
    }

    #navbar li {

        padding: 4px;

    }

    #navbar li a {
        font-size: 14px;
    }


    header #search {
        margin-left: 2px;
        display: inline-block;
    }


    #container1 {
        height: 100%;
        width: 90%;
    }


    #container1 p {
        font-size: 8px;
    }

    .box {

        height: 228px;
        width: 140px
    }

    .box:hover {
        border-radius: 12px;
    }

    .common:hover {
        border-radius: 12px;
    }

    #container2 {
        width: 10%
    }

    #container2 li {
        margin: 6px 0px 6px 8px;
        padding: 12px;
        font-size: 10px;
    }

    #container2 #head {
        font-size: 13px;
        margin: 1px 10px;
        padding: 0px;

    }

}




/* RESPONSIVENESS ................................................................................................*/

footer {
    height: 50px;
    width: 100%;
    color: coral;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}